body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: whitesmoke; 
    text-align: center;
}
.barra-navegacion{
    margin: 20px;
    height: 50px;
    font-size: 15px;
    text-align: center;
    display:flex;
    margin-left: 10px;
    background-color: rgb(55, 142, 148);
}

.element{
    text-align: center;
    margin: 10px;
    display: inline-flex;
    margin-left: 10px;
    color:azure;
}

.Servicios{
    color: beige;
    font-size:larger;
    text-align: center;
    margin:15px;
    display: flex;
    flex-direction: 'row';
    background-color: rgb(57, 80, 80);
    width:auto;
    height: 400px;
}

.formulario{
    font-size: 15px;
    justify-content: center;
    height: 350px;
    text-align: center;
    border-radius: 8%;
    color: aliceblue;
    margin-left: 20%;
    margin-right: 20%;
    display:flexbox;
    background-color: rgb(55, 142, 148);
    justify-content: center;
}
